<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Field Of Dreams - Offline</title>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/offline.css">
    <script src="./js/common.js" type="module"></script>

    <!-- BEGIN FAVICON -->
    <link rel="icon" href="/images/logo-favicon-50x50.png"/>
    <meta name="theme-color" content="#252831"/>
    <link rel="apple-touch-icon" sizes="192x192" href="/images/logo-192x192.png"/>
    <link rel="apple-touch-icon" sizes="256x256" href="/images/logo-256x256.png"/>
    <link rel="apple-touch-icon" sizes="384x384" href="/images/logo-384x384.png"/>
    <link rel="apple-touch-icon" sizes="512x512" href="/images/logo-512x512.png"/>
    <!-- END FAVICON -->
</head>
<body>
    <header>
        <h1>Field Of Dreams</h1>
    </header>
    <main>
        <h1>You are offline</h1>
        <h2>This page is not currently available.</h2>
    </main>
    <footer>
        <p>Created by Team R &copy; 2025</p>
    </footer>
</body>
</html>