<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Field of Dreams</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/animation.css">
    <script src="js/animation.js" module></script>
</head>

<body>
    <header>
        <div class="controls">
            <div class="playback">
                <img src="images/play.png" alt="Play" id="playButton" class="imgbutton">
                <img src="images/rewind.png" alt="Rewind" id="rewindButton" class="imgbutton">
            </div>
            <div class="title">
                <h1 id="playTitle">Testing Title</h1>
            </div>
            <div class="leave">
                <a href="/myplays"><img src="images/leave.png" alt="Leave" class="imgbutton"></a>
            </div>
        </div>
        <div class="frames">
            <div class="larrow">&lArr;</div>
            <div class="framenumber">
                <h3>Frame 2</h3>
            </div>
            <div class="rarrow">&rArr;</div>
        </div>
        <div class="menu-toggle" id="menuToggle">
            <span>−</span>
        </div>
    </header>
    <div id="field-container" class="field-container"></div>
    <footer>
        <div class="footer-toggle" id="footerToggle">
            <span>−</span>
        </div>
        <div class="menu">
            
        </div>
    </footer>
</body>

</html>