/**Color Variables**/
:root {
  /**Background color**/
  --background: #DBDBDB;

  /**Selected link in the header**/
  /* --active-link: #ABA3A3; */
  --active-link: #076c1d;

  /**Primary button colors**/
  --dark-button: #2C2C2C;
  --dark-button-hover: #1D1D1D;
  --dark-button-text: #F5F5F5;

  /**Danger button colors**/
  --danger: #EC221F;
  --danger-hover: #CC1D1A;

}

/* Mobile/General Styling */
body {
  /*Template styling - provided by Professor Dominguez*/
  display: flex;
  flex-direction: column;
  align-items: center;

  /*Background styling*/
  background-color: var(--background);

  /*Font styling*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

button, input[type="submit"], input[type="button"] {
  background-color: var(--dark-button);
  border-radius: 8px;
  color: var(--dark-button-text);
  padding: 10px;
}

button:hover, input[type="submit"]:hover, input[type="button"]:hover {
  background-color: var(--dark-button-hover);
  cursor: pointer;
}

button.danger {
  background-color: var(--danger);
  border-color: var(--danger-hover);
}

button.danger:hover {
  background-color: var(--danger-hover);
}

/**Header/Navbar Styling **/
header {
  /*Sets the position of the header to top of the screen, extends it all the way across*/
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  margin: 0px;
  
  /*Background color of the header*/
  background-color: #259f48;
  color: white;

  /*Making navbar contents horizontal*/
  display: flex;
  flex-direction: row;
  align-items: center;

  box-sizing: border-box;
  border-bottom: 3px solid black;
  padding: 5px;
}

/*The Field of Dreams logo, hidden by default on mobile*/
.logo {
  display: none;
}

nav {
  /*Aligns navbar items to the center*/
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid white;
}

nav a {
  /**Styles each individual link to be centered, with a border, and padding**/
  text-decoration: none;
  color: white;
  border: 1px solid white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a:active{
  /**Highlights active link MAY NOT WORK, NEED TO TEST**/
  background-color: var(--active-link);
}

a.pfp{
  width: 150px;
}

a#currentPage {
  background-color: #076c1d;
}

img.pfp {
  /*Profile picture styling*/
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 1px solid white;
}

/**Hide footer on mobile**/
footer{
  display: none;
}

/* Laptop Styling */
@media (min-width: 768px) {
  
  /*Display the Field of Dreams logo*/
  .logo {
    display: block;
    height: 100%;
    border: 1px solid white;
  }

  /**Display basic footer on laptop**/
  footer {
    display: block;
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 10px;
    margin: 0px;
    border-radius: 5px 5px 0 0;
    padding: 5px;
  }
}

/* Error Box */
#errorbox {
  color: rgb(255, 0, 0);
}

/* Service Worker */
.popup {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #259f48;
  color: white;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
}

.popup div {
  margin-bottom: 5px;
}

.popup button {
  margin: 3px 5px;
  background-color: white;
  color: black;
  text-transform: uppercase;
  border: 0;
  padding: 3px 5px;
  cursor: pointer;
}