<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Frontend</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
  <header>
    <img class="logo" src="../static/images/logo.png" alt="FOD">
    <nav>
        <a href="#">My Plays</a>
        <a href="#">Create A Play</a>
        <a class="pfp" href="#"><img class="pfp" src="../static/images/fakepfp.png" alt="User"></a>
    </nav>
  </header>
  <br><br><br><br><br><br><br><br><br><br>
  <p>If you can see this, your frontend is working properly.</p>

  <button>Testing Dark Button For Styling</button>
  <button class="danger">Testing Danger Button For Styling</button>

  <p>Check your API <a href="/api" target="_blank">here</a>.</p>
  <footer>
    <p>Created by Team R &copy; 2025</p>
  </footer>
</body>
</html>